// COLORS
$color-primary: rgb(7, 10, 122);
$color-primary-light:rgb(196, 198, 248);
$color-white: rgb(255, 255, 255);
$days-color:rgba(248, 240, 240, 0.2);
$search-color: rgb(0, 0, 0);

// FONT
$default-font-size: 1.6rem;
$font-family:'Karla', sans-serif;

// GRID
$grid-width: 80rem;
$grid-height: 40rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html {
    font-size: 65%; 
    
    @include for-size(phone-only) { 
        font-size: 50%;   
    }
    
}
