*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 65%;
}

@media (max-width: 599px) {
  html {
    font-size: 50%;
  }
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "search search" "today  days-display";
  height: 40rem;
  width: 80rem;
  color: white;
  background-color: #070a7a;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #070a7a), color-stop(150%, #c4c6f8));
  background: linear-gradient(90deg, #070a7a 50%, #c4c6f8 150%);
}

@media (max-width: 599px) {
  .app {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1.5fr 5fr;
        grid-template-rows: 1fr 1.5fr 5fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "search" "today"   "days-display";
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

.form-search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: search;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 5rem;
}

@media (max-width: 599px) {
  .form-search {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

input[type=text] {
  padding: 1rem;
  background: #c4c6f8;
  border-color: transparent;
  padding-left: 50px;
}

.search-button {
  color: black;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.days-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  width: 104rem;
  -webkit-transform: translate(25%, 0);
          transform: translate(25%, 0);
}

@media (max-width: 599px) {
  .days-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    -webkit-transform: translate(0, 40%);
            transform: translate(0, 40%);
  }
}

.days-display {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: days-display;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  width: 53.33333rem;
  overflow: hidden;
}

@media (max-width: 599px) {
  .days-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
}

.day {
  margin: 1rem;
  background-color: rgba(248, 240, 240, 0.2);
  height: 16rem;
  width: 20rem;
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .day {
    height: 40rem;
    width: 26.66667rem;
    margin: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.5rem;
  }
}

.day h2 {
  font-size: 200%;
  margin-left: 2rem;
}

@media (max-width: 599px) {
  .day h2 {
    margin-left: 4rem;
  }
}

.day .fas {
  font-size: 400%;
  margin: 1rem 3rem;
}

@media (max-width: 599px) {
  .day .fas {
    margin-left: 8rem;
    font-size: 500%;
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
  font-family: "Karla", sans-serif;
  margin: 0.5rem;
}

.today {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: today;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20rem;
  width: 20rem;
  margin-left: 3rem;
  font-size: 2rem;
}

@media (max-width: 599px) {
  .today {
    font-size: 1.5rem;
    margin-top: -25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.today h1 {
  font-size: 350%;
  margin-left: 2rem;
  margin-top: 3rem;
}

@media (max-width: 599px) {
  .today h1 {
    font-size: 450%;
    margin-top: 1rem;
  }
}

.button {
  font-size: 0.5rem;
  color: white;
  background-color: transparent;
  border: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.button.left {
  -webkit-transform: translate(330px, -90px);
          transform: translate(330px, -90px);
  visibility: hidden;
  font-size: 2rem;
}

@media (max-width: 599px) {
  .button.left {
    position: absolute;
    top: 30rem;
    font-size: 4rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.button.right {
  -webkit-transform: translate(760px, -90px);
          transform: translate(760px, -90px);
  visibility: none;
  font-size: 2rem;
}

@media (max-width: 599px) {
  .button.right {
    position: absolute;
    bottom: 0;
    font-size: 4rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
/*# sourceMappingURL=nain.css.map */