/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 65%;
}

.app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
      grid-template-areas: "search search" "today  days-display";
  height: 40rem;
  width: 80rem;
  color: silver;
  background-color: #070a7a;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #070a7a), color-stop(150%, #7a7cbb));
  background: linear-gradient(90deg, #070a7a 50%, #7a7cbb 150%);
}

.form-search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: search;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 5rem;
}

input[type=text] {
  padding: 1rem;
  background: #7a7cbb;
  border-color: transparent;
  padding-left: 50px;
}

.search-button {
  color: silver;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.days-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  width: 104rem;
  -webkit-transform: translate(20%, 0);
          transform: translate(20%, 0);
}

.days-display {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: days-display;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20rem;
  width: 53.33333rem;
  overflow: hidden;
}

.day {
  margin: 2rem;
  background-color: rgba(248, 240, 240, 0.2);
  height: 14.28571rem;
  width: 20rem;
  font-size: 1.2rem;
}

h1, h2, h3, h4 {
  font-weight: 300;
  font-family: "Karla", sans-serif;
}

.today {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: today;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 20rem;
  width: 20rem;
  margin-left: 3rem;
  font-size: 2rem;
}

.todayh1 {
  margin: 1rem 1rem;
}

.todayh2 {
  font-size: 80%;
}

.button {
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.button.left {
  -webkit-transform: translate(330px, -90px);
          transform: translate(330px, -90px);
  visibility: hidden;
}

.button.right {
  -webkit-transform: translate(760px, -90px);
          transform: translate(760px, -90px);
  visibility: none;
}

.fas {
  font-size: 400%;
  margin: 1rem 3rem;
}
/*# sourceMappingURL=nain.css.map */