body{
    margin: 0;
    padding: 0;
    color: white;
}
.app{
    position: relative; 
    height: 400px;
    width: 800px;
    background-color: rgb(11,71,203);
}
.form-search{
    position: absolute;
    top:10px;
    right: 20px;
}
.container {
    position: absolute;
    height: 200px;
    width: 800px;
    top: 150px;
    left: 0;
    display: flex; 
    flex-direction: row;
    align-content: space-around;
  }
  .days-container{
    display: flex;
    position: absolute;
    height: 200px;
    width: 1000px;
    flex-direction: row;
    justify-content: space-between; 
    transform: translate(0, 0);
    align-items: center;
    
  }
  .days-display{
    position: absolute;
    height: 200px;
    width: 500px;
    left: 200px;
    overflow: hidden; 
  }
  .day{
      position: relative;
      display: inline-block;
      margin: 20px;
      background-color: rgba(255,255,255,.4);
      height: 120px;
        width: 150px;
        text-decoration-color: white;
     
  }
 
  .today{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50px;
    top: 15px;
    font-size: 150%;
  }
  &h3{
      bottom: 100px;
  }
  .lens-flare {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    opacity: 0.3;
    
  }
  
  .source-spread {
    position: absolute;
        background: radial-gradient(rgba(255,225,255,.05) 10%, rgba(255,225,255,.05) 30%, rgba(0,0,0,0) 60%);
    border-radius: 50%;
    width: 2000px;
    height: 2000px;
    margin-top: -1000px;
    margin-right: -1000px;
    top: 14%;
    right: 14%;
    z-index: 0;
  }
  
  .source {
    position: absolute;
    background: radial-gradient(
        rgba(255,255,255,1) 0%,
        rgba(243,206,205,.4) 35%,
        rgba(88,88,88,.3) 60%,
        rgba(0,0,0,0) 70%);
    border-radius: 50%;
    width: 800px;
    height: 800px;
    margin-top: -400px;
    margin-right: -400px;
    top: 14%;
    right: 14%;
    z-index: 2;
  }
  
  .source-beam {
    position: absolute;
    background: radial-gradient(
        rgba(255,255,255,.3) 0%,
        rgba(0,0,0,0) 70%);
    border-radius: 50%;
    width: 2200px;
    height: 28px;
    margin-top: -14px;
    margin-right: -1100px;
    top: 14%;
    right: 14%;
    z-index: 1;
  }
  
  .c1 {
    position: absolute;
        background: radial-gradient(ellipse at center, rgba(189,91,87,0) 40%, rgba(189,91,87,0.5) 45%, rgba(189,91,87,0) 50%, rgba(189,91,87,0) 100%);
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-right: -200px;
    top: 14%;
    right: 14%;
    z-index: 3;
  }
  
  .c2 {
    position: absolute;
        background: radial-gradient(ellipse at center, rgba(162,196,134,0) 20%, rgba(162,196,134,0.3) 43%, rgba(67,85,52,0) 50%, rgba(67,85,52,0) 100%);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-right: -150px;
    top: 3%;
    right: 3%;
    z-index: 4;
  }
  
  .c3 {
    position: absolute;
        background: radial-gradient(ellipse at center, rgba(31,99,255,.1) 1%, rgba(31,99,255,.13) 100%);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin-top: -80px;
    margin-right: -80px;
    top: 46%;
    right: 46%;
    z-index: 5;
  }
  
  .c4 {
    position: absolute;
        background: radial-gradient(ellipse at center, rgba(31,99,255,.1) 1%, rgba(31,99,255,.13) 100%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-right: -25px;
    top: 44%;
    right: 44%;
    z-index: 6;
  }
  
  .c5 {
    position: absolute;
        background: radial-gradient(ellipse at center, rgba(31,99,255,.1) 1%, rgba(31,99,255,.13) 100%);
    border-radius: 50%;
    width: 88px;
    height: 88px;
    margin-top: -44px;
    margin-right: -44px;
    top: 47%;
    right: 47%;
    z-index: 7;
  }
  