@import "./mixins";
@import "./variables";

.app{
    display: grid; 
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "search search"
      "today  days-display";
    height: $grid-height;
    width: $grid-width;
    color: $color-white;
    background-color: $color-primary;
    background: linear-gradient(90deg, $color-primary 50%, $color-primary-light 150%);  
}
.form-search{
      grid-area: search;
      justify-self:end ;
      margin: 5rem;
}
input[type=text] {
  padding:1rem; 
  background:$color-primary-light; 
  // border: 0.01rem solid $color-white;
  border-color: transparent;
  // cursor:pointer;
  padding-left: 50px;
}
.search-button{
  color:$color-white;
  position:absolute;
  margin-top:10px;
  margin-left:10px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
}
  .days-container{
    @include flex(row);
    height: $grid-width/4;
    width: $grid-width *1.3;
    transform: translate(20%, 0);   
  }
  
  .days-display{
    grid-area: days-display;
    @include flex(row);
    height: $grid-height/2;
    width: $grid-width/1.5;
    overflow: hidden; 
  }
  .day{
      margin: 2rem;
      background-color: $days-color;
      height:$grid-height/2.8;
      width: $grid-width/4;
      font-size: 1.2rem;
  }
  h1,h2,h3,h4{
    font-weight: 300;
    font-family: $font-family;
  }
  
  .today{
    grid-area: today;
    justify-self: center ;
    height: $grid-height/2;
    width: $grid-height/2;
    margin-left: 3rem; 
    font-size: 2rem;
    &h1{
      margin:1rem 1rem;
    }
    &h2{
      font-size: 80%;
    }
  }
  .button{
    font-size: 1rem;
    color: white;
    background-color: transparent;
    border: none;
    margin-bottom:0.5rem;
    cursor:pointer;
    
    &.left{
      transform: translate(330px, -90px);
      visibility: hidden;
    }
    &.right{
      transform: translate(760px, -90px);  
      visibility: none;
    }
  }
  .fas{
    font-size: 400%;
    margin: 1rem 3rem;
  }


  

  